# Node dependencies
node_modules/

# Environment files
.env
.env.*

# Sequelize local database files
.sequelize-database1
.sequelize-database2

# Local SSL certificates
ssl/*.key
ssl/*.crt
ssl/*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
